/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f7fc;
    line-height: 1.6;
}

header{
    padding: 10px 4%;
    height: 100px;
    background-color: transparent;
    
    /* animation: slideInLeft;
    animation-duration: 2s; */
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: #004b87;
    transform: scale(1.2);
    transition: .2s;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
}

header nav ul li.ativo a {
    position: relative;
    display: inline-block; /* Faz com que a largura do link seja determinada pelo seu conteúdo */
    color: #004b87;
}

/* Linha embaixo do item "Início" */
header nav ul li.ativo a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%; /* Ajuste a largura da linha com base no tamanho do texto */
    background-color: #003366;
    height: 3.5px;
    border-radius: 10px;
    transform: scaleX(1); /* Linha visível */
    transition: transform 0.3s ease; /* Transição suave */
}

header nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    background-color: #003366;
    height: 3.5px;
    border-radius: 10px;
    transform: scaleX(0);
    transition: width 0.2s ease;
}

header nav ul li a:hover::after {
    animation: expand 0.3s forwards;
    width: 0 auto;
}

@keyframes expand{
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(0.5);
        transform-origin: left;
    }
    100% {
        transform: scaleX(1);
        transform-origin: left;
    }
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #004b87;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

header .btn-contato button:hover{
    background-color: #003366;
    box-shadow: 0px 0px 8px #fff;
}
/* -------------------FIM DO HEADER------------------- */

/* Container Principal */
.container {
    padding: 20px;
    font-size: 16px;
    position: relative;
    margin-top: 20px;
}

button {
    background-color: #004b87;  /* Azul claro para botões principais */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #003366;  /* Azul escuro para o hover */
}

.container #list-patients {
    margin-left: 10px;
}

/* Estilo para garantir que os botões fiquem na mesma linha */
.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.list h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

/* Ajustes de visibilidade dos botões */
.hidden {
    display: none !important;
}

/* Formulário de Agendamento */
.form-popup {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: #ffffff;  /* Cor branca para o fundo do formulário */
    padding: 20px;
    border: 2px solid #003366;  /* Bordas azuis escuras */
    border-radius: 15px;
    width: 550px;
    z-index: 1000;
}

.form-popup h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #003366;  /* Texto do título em azul escuro */
}

#scheduleForm {
    margin-top: 90px;
}

#schedule-form input {
    margin-bottom: 20px;
}

.form-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input:focus {
    outline: none;
    border-color: #004b87;  /* Azul para bordas de input em foco */
}

/* Tabela de Agendamentos */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #003366;  /* Azul escuro para o cabeçalho da tabela */
    color: white;
}

/* Tela de Listar Pacientes */
.list-patients {
    padding: 20px;
}

#backBtn {
    margin-bottom: 20px;
}

.search-container {
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 400px;
    margin-right: 10px;
}

.search-icon {
    cursor: pointer;
}

.search-icon i{
    color: #003366;
}